fastapi==0.115.0
uvicorn[standard]==0.31.0
python-multipart==0.0.9
pydantic==2.8.2
# DB and Auth
sqlmodel==0.0.22
passlib[bcrypt]==1.7.4
PyJWT==2.9.0
redis>=4.2.0,<5
# engine deps (shared)
pandas==2.2.2
numpy==1.26.4
openpyxl==3.1.5
xlrd==2.0.1
jinja2==3.1.4
num2words==0.5.13
weasyprint==62.3
reportlab==4.2.2
arq==0.26.0
beautifulsoup4==4.12.3
